@model DAL.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>

    <link href="~/Content/css/reset.min.css" rel="stylesheet" />
    <link href="~/Content/css/css.css" rel="stylesheet" />
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
    <link href="~/Content/css/style.css" rel="stylesheet" />
   
</head>

<body background="~/fonts/wassValLogo.png">

   
    <div class="rerun">
        @Html.ActionLink("Recycling Companies registration here", "StartCompany","Professional")
    </div>
    <div class="container">
        <div class="card"></div>
        <div class="card">
            <h1 class="title">User Login  </h1>
            @if (ViewBag.logerror != null)
            {  <h2 class="title">@ViewBag.logerror </h2> }
           
          
            @using (Html.BeginForm("Login","User",FormMethod.Post))
            {
                @Html.AntiForgeryToken()
               
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="input-container">
                   
                    @Html.TextBoxFor(m => m.UserMail, new { @class = "form-control" })
                    @Html.LabelFor(m => m.UserMail,"Mail Adress", new { @class = "col-md-2 control-label" })    
                    @Html.ValidationMessageFor(m => m.UserMail, "", new { @class = "text-danger" })
                    <div class="bar"></div>
                </div>
                <div class="input-container">
                    
                       
                     @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })   
                     @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    <div class="bar"></div>
                </div>
                <div class="button-container">

                    <button type="submit"><span>GO</span></button>

                </div>


            }


        </div>
        <div class="card alt">
            <div class="toggle"></div>
            <h1 class="title">
               User Register
                <div class="close"></div>
            </h1>


            @using (Html.BeginForm("Create", "User",FormMethod.Post))
            {
                @Html.AntiForgeryToken()


                  @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="input-container">

                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.LabelFor(model => model.UserName,"Name", htmlAttributes: new { @class = "control-label col-md-2" })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        <div class="bar"></div>

                    </div>

                    <div class="input-container">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UserPhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.LabelFor(model => model.UserPhoneNumber,"Phone number", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.ValidationMessageFor(model => model.UserPhoneNumber, "", new { @class = "text-danger" })
                            <div class="bar"></div>

                        </div>
                    </div>

                    <div class="input-container">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UserMail, new { htmlAttributes = new { @class = "form-control", type="email" } })
                            @Html.LabelFor(model => model.UserMail,"E-mail adress", htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.ValidationMessageFor(model => model.UserMail, "", new { @class = "text-danger" })
                            <div class="bar"></div>
                        </div>
                    </div>


                    <div class="input-container">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control",type="password" } })
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            <div class="bar"></div>
                         </div>
                    </div>


                    <div class="button-container">

                        <button type="submit" ><span>SUBMIT</span></button>

                    </div>


            }






        </div>
    </div>







     <!-- Portfolio--><a id="portfolio" href="http://andytran.me/" title="Facebook page"><i class="fa fa-link"></i></a>
    <!-- CodePen--><a id="codepen" href="" title="More details"><i class="fa fa-codepen"></i></a>
    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Scripts/js/index.js"></script>


</body>
</html>
